/* CSS stillerinizi buraya girin */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Lucida Console;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding: 20px;
  background: rgba(200, 146, 146, 0.952);
  border-bottom: 2px solid black;
}

.header h1 {
  width: auto;
  font-size: 36px;
  font-weight: bold;
  padding: 10px 0;
  margin: 0 20px;
  color: black;
}

.header .navbar {
  display: flex;
  padding: 10px 0px;
}

.navbar a {
  padding: 10px 15px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background-color: rgba(104, 99, 99, 0.952);
}

.navbar a:hover {
  background-color: black;
  font-weight: bold;
}

.profile {
  background-color: rgba(198, 176, 176, 0.952);
}
.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 187, 187);
  padding: 1rem;
  flex-wrap: wrap;
}
.logo-text img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  object-position: top;
  padding: 1.5rem;
  margin: 1.5rem;
}

.logo-text .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  margin: 0 150px;
  line-height: 40px;
}

.text .decoration {
  width: 400px;
  font-size: 20px;
}

.logo-text .text a {
  background-color: rgba(104, 99, 99, 0.952);
  padding: 5px 10px;
  border: 2px solid black;

  text-decoration: none;
  color: black;
}

.text h1,
p,
a {
  margin: 10px 0;
}

.text a:hover {
  background-color: black;
  font-weight: bold;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 3% 8%;
}

.box-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container img {
  width: 250px;
  height: 250px;
}

.profile {
  border-bottom: 1px solid black;
  background-color: rgb(198, 187, 187);
}

.profile .text {
  display: flex;
  flex-wrap: wrap;
}
footer .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: rgba(198, 176, 176, 0.952);
}

footer a {
  margin-top: 15px;
  background-color: rgba(104, 99, 99, 0.952);
  border: 1px solid black;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: black;
}

footer a:hover {
  background-color: black;
  font-weight: bold;
}

footer p {
  font-size: 25px;
}

/*TABLET */

@media (max-width: 800px) {
  .container {
    width: 80%;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav a {
    text-decoration: underline;
  }

  .profile .logo-text text {
    width: 40%;
  }
}
/*MOBİLE*/

@media (max-width: 600px) {
  .container {
    width: 90%;
    font-size: 1.25rem;
  }
  .profile .logo-text img {
    flex-shrink: 80%;
  }
  .profile .logo-text .text {
    width: 90%;
    font-size: 1rem;
  }
  .decoration p {
    font-size: 1rem;
  }

  .navbar {
    flex-direction: column;
    margin: 0 auto;
  }
  .header h1 {
    margin: 0 auto;
  }
}
